@import "../../node_modules/angular-material/angular-material.min.css"
@import "../../node_modules/angular-material-data-table/dist/md-data-table.min.css"
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic&subset=latin,cyrillic')

.app
  padding 0
  margin 0
  width 100%
  height 100%
  font-family 'Open Sans', sans-serif
  font-size 1vw
  background #001B36
  background radial-gradient(ellipse at center, #001B36 0%, #000 100%)