.card
    .card__cell
        a.card__anchor(href='{{ href }}')
            .card__wrapper
                .card__info(ng-transclude)
            .card__cover
                canvas(data-src="{{ image }}") don't support