doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0")
        base(href="/")
        title Artem Zubkov
    body.app(ng-app="app" layout="row" ui-view)
